html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #DEDEDE url(images/img01.png) repeat;
	font-family: 'Abel', sans-serif;
	font-size: 15px;
	color: #8F8F8F;
}



@font-face {
	font-family: 'Abel';
	font-style: normal;
	font-weight: 400;
	src: local('Abel Regular'), local('Abel-Regular'), url(https://fonts.gstatic.com/s/abel/v8/MwQ5bhbm2POE2V9BPbh5uGM.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
	font-family: 'Satisfy';
	font-style: normal;
	font-weight: 400;
	src: local('Satisfy Regular'), local('Satisfy-Regular'), url(https://fonts.gstatic.com/s/satisfy/v8/rP2Hp2yn6lkG50LoCZOIHTWEBlw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  





h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-weight: 300;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

strong {
}

a {
	color: #2B2B2B;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
	overflow: hidden;
	padding: 0px 0px 50px 0px;
	background: #FFFFFF;
}

.container {
	width: 940px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}


.clear { 
    clear:both;
    font-size: 1%;
}
/** HEADER */


#header-wrapper {
	overflow: hidden;
	height: 80px;
	margin-bottom: 30px;
	background: url(img01.png) repeat;
	border-bottom: 1px solid #DAD8D8;
}


#header {
}

/** LOGO */

#logo {
	position: relative;
	float: left;
	width: 480px;
	height: 80px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	text-transform: uppercase;
}

#logo h1 a {
	display: block;
	padding: 10px 0px 0px 0px;
	text-decoration: none;
	color: #2B2B2B;
}

#logo p {
	margin-top: -5px;
	text-decoration: none;
	color: #5C5C5C;
}

#logo p a {
	color: #5C5C5C;
}

/** MENU */

#menu {
	float: right;
	height: 99px;
}

#menu ul {
	margin: 0px;
	padding: 20px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	margin: 0px 0px 0px 10px;
}

#menu a {
	display: block;
	text-decoration: none;
	padding: 5px 10px;
	font-size: 16px;
	color: #2B2B2B;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .active a {
	border-radius: 5px;
	background: #2B2B2B;
	color: #FFFFFF;
}

/** PAGE */

#page {
}

/** CONTENT */

#content {
	float: left;
	width: 615px;
}

#content h2 {
	margin-bottom: 20px;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #DEDEDE;
	color: #303030;

}




/** FOOTER */

#footer {
	overflow: hidden;
	height: 50px;
	border-top: 1px solid #DAD8D8;
}

#footer p {
	margin: 0;
	padding: 30px 0px 0px 0px;
	text-align: center;
}

#footer a {
	color: #303030;
}

/** BANNER */

#banner {
	margin-bottom: 30px;
}

/** THREE COLUMNS */

#three-column {
	overflow: hidden;
	margin-bottom: 30px;
	padding: 0px 0px 30px 0px;
	border-bottom: 1px solid #DEDEDE;
}

#three-column h2 {
	padding: 0px 0px 10px 0px;
	color: #303030;
}

#three-column #column1 {
	float: left;
	width: 300px;
}

#three-column #column1 {
	float: left;
	width: 250px;
	margin-right: 35px;
	padding: 20px;
	background: #F0F0F0;
}

#three-column #column2 {
	float: left;
	width: 250px;
	margin-right: 35px;
	padding: 20px;
	background: #F0F0F0;
}

#three-column #column3 {
	float: right;
	width: 250px;
	padding: 20px;
	background: #F0F0F0;
}

/** LIST STYLE 1 */

ul.style1 {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

ul.style1 li {
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #E6E6E6;
	line-height: 160%;
}

ul.style1 a {
	display: block;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	color: #525252;
}

ul.style1 a:hover {
	text-decoration: underline;
}

ul.style1 .first {
	border-top: none;
	padding-top: 0px;
}


.mapouter{
	text-align:right;height:185px;width:474px;
}
.gmap_canvas {
	overflow:hidden;background:none!important;height:185px;width:474px;
}




